body {
overflow-x: hidden;
font-family: 'Source Sans Pro', sans-serif;
}
/*main css*/
.header-nav {
height: 90px;
background: whitesmoke;
}
.sidebar-nav-opender {
position: absolute;
margin: 20px 20px 20px 20px;
font-size: 35px;
color: #999999;
}
img.sidebar-icons {
height: 40px;
width: 40px;
margin-bottom: 20px;
}
ul.user-nav {
display: flex;
flex-direction: row-reverse;
list-style: none;
align-items: baseline;
margin: 15px;
margin-right: 140px;
}
.header-nav-user {
width: 295px;
background: #f5f5f5;
float: right;
margin: 12px;
margin-right: 90px;
}
span.user-avatar {
background: '#9D9D9D';
height: 64px;
width: 64px;
border-radius: 50%;
float: right;
}
p.user-profile-name {
float: left;
margin: 20px 0px 0px 126px;
font-size: 18px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #555;
}
span.user-notification {
float: left;
margin: 20px;
}
.user-notification-link {
height: 25px;
width: 40px;
padding: 2px 5px 0px 5px;
border-radius: 5px;
background: #F27373;
color: white;
display: inline-block;
font-size: 16px;
font-weight: 400;
}
.notification-dot {
height: 15px;
width: 15px;
background: white;
z-index: 20;
display: inline-block;
float: right;
border-radius: 50%;
margin: 3px 0 0 0;
}
/*Page Header Title Section*/
.header-page-section {
width: auto;
margin: 30px;
display: flex;
margin-left: 110px;
}
.header-page-Title {
font-size: 24px;
margin: -5px 0px 0px 0px;
}
img.header-page-icon {
height: 20px;
width: 30px;
}

/*404 page css starts here*/
.empty-dashboard-msg.center-block {
    width: 65rem;
    height: 35rem;
    text-align: center;
    margin-top: 20rem;
    border-radius: 22px;
    border: 1px solid #7646FF;
}
.empty-dashboard-msg.center-block img {
height: 10rem;
margin-top: 8rem;
margin-bottom: 4rem;
}
.empty-dashboard-msg.center-block p {
font-size: 24px;
}
/*404 page ends here*/
/*search box css starts here*/
.imaginary_container {
margin-top: 1rem;
margin-bottom: 3rem;
}
.stylish-input-group .input-group-addon {
padding: 0px 5px;
font-size: 26px;
font-weight: 400;
background: transparent;
line-height: 1;
color: #555;
text-align: center;
border-bottom: 2px solid #555;
border-radius: 0px;
border-left-color: transparent;
border-right-color: transparent;
border-top: transparent;
}
.stylish-input-group .form-control {
border-right: 0;
box-shadow: 0 0 0;
padding: 5px;
border-bottom-color: #555;
font-size: 24px;
border-left-color: transparent;
border-right-color: transparent;
border-top: transparent;
border-radius: 0px;
border-bottom: 2px solid #555;
}
.stylish-input-group button{
border:0;
background:transparent;
}
/*search box css ends here*/
/*Content Css*/
.widget {
background: #fbfbfb;
min-height: 275px;
border-radius: 2px;
margin-bottom: 30px;
border: 1px solid #d6d1d1;
}
.portlet-widget{
border: solid #8c8c8c 1px;
}
.portlet-widget:hover .panel_toolbox {
display: flex;
cursor: pointer;
}
.widget-header {
padding: 20px;
font-size: 24px;
}
.widget-content {
text-align: center;
}
.widget-num-content {
font-size: 7rem;
text-align: center;
color: #555;
}
img.widget-icons {
height: 30rem;
}
.widget-footer {
padding: 20px;
font-size: 24px;
}
.big-widget {
height: 45rem;
}
.mtb-50{
margin-bottom: 30px;
}
.panel_toolbox {
display: none;
padding: 0px 20px 10px 10px;
font-size: 20px;
transition: 4s all ease;
}
.panel_toolbox:hover {
transition: 4s all ease;
}
.panel_toolbox a {
color: rgba(51, 51, 51, 0.81);
}
.widget:hover .panel_toolbox {
display: flex;
cursor: pointer;
transition: 4s all ease;
}
.nav>li>a{
transition: 1s all ease;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: #fbfbfb;
color: #9e9898;
}
/*Super admin css*/
/*dashboard index css starts here*/
/*workspace history page*/
h3.workspace-history-heading {
margin: 20px 20px 25px 12px;
font-size: 28px;
}
img.workspace-history-icon {
height: 11rem;
}
.workspace-list-item {
display: flex;
margin-bottom: 2rem;
}
.workspace-right {
padding: 5px;
}
p.dashboard-title {
font-size: 22px;
margin: 0px;
margin-top: -10px;
}
p.dashboard-title>a {
color: #252525;
transition: 1s all ease;
}
p.dashboard-title>a:hover {
color: #5887FF;
text-decoration: none;
}
.btn-custom {
padding: 10px;
color: #646464;
background: #F2F2F2;
}
p.database-name {
font-size: 22px;
margin: 0px;
margin-top: -10px;
}
p.database-lastused {
font-size: 20px;
margin-top: -15px;
}
button.small-data-source-button {
background: #5887FF;
border: transparent;
border-radius: 3px;
width: 11rem;
text-align: left;
font-size: 20px;
padding: 4px;
color: white;
padding-left: 8px;
}
button.small-data-source-button div {
height: 15px;
width: 15px;
background: white;
position: relative;
z-index: 20;
display: inline-block;
float: right;
border-radius: 50%;
margin: 7px 5px 5px 0;
}
/*dashboard index css ends here*/
/*main css ends here*/
/*main css responsive parts starts here*/
@media (min-width: 360px) {
.header-nav-user {
width: 295px;
background: #f5f5f5;
float: right;
margin: 12px;
}
}
/*main css responsive parts ends here*/
/* Toggle Styles */
#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#wrapper.toggled {
padding-left: 75px;
}
#sidebar-wrapper {
z-index: 1000;
position: fixed;
left: 110px;
width: 0;
height: 100%;
margin-left: -110px;
overflow-y: auto;
background: #F5F5F5;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
width: 90px;
overflow: hidden;
}
#page-content-wrapper {
width: 100%;
position: absolute;
padding: 15px;
padding-top: 110px;
}
#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
margin-top: 110px;
list-style: none;
}
.sidebar-nav li {
line-height: 40px;
margin: 20px 20px 20px 22px;
}
.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
font-size: 14px;
}
.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}
@media(min-width:768px) {
#wrapper {
padding-left: 0;
}
#wrapper.toggled {
padding-left: 110px;
}
#sidebar-wrapper {
width: 0;
}
#wrapper.toggled {
padding-left: 75px;
}
#page-content-wrapper {
padding: 20px;
position: relative;
padding-top: 110px;
}
#wrapper.toggled #page-content-wrapper {
position: relative;
margin-right: 0;
}
}
/*Custom CSS for 2.5*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}
.col-xs-15 {
width: 20%;
float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
width: 20%;
float: left;
}
}
@media (min-width: 992px) {
.col-md-15 {
width: 20%;
float: left;
}
}
@media (min-width: 1200px) {
.col-lg-15 {
width: 20%;
float: left;
}
}
/*Custom CSS for 1.5*/
.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}
.col-xs-15 {
width: 12.5%;
float: left;
}
@media (min-width: 768px) {
.col-sm-25 {
width: 12.5%;
float: left;
}
}
@media (min-width: 992px) {
.col-md-25 {
width: 12.5%;
float: left;
}
}
@media (min-width: 1200px) {
.col-lg-25 {
width: 12.5%;
float: left;
}
}
/*Bootstrap Offset Right*/
/*bootstrap large modal*/
@media (min-width: 768px) {
.modal-xl {
width: 90%;
max-width:1200px;
}
}
/*bootstrap large modal css ends

 */

.change-cursor{
 cursor: pointer;
}
